
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --red: hsl(0, 100%, 74%);
    --green:hsl(154, 59%, 51%);
    --blue:hsl(248, 32%, 49%);
    --dark-blue:hsl(249, 10%, 26%);
    --grayish-blue:hsl(246, 25%, 77%);
}
*{
    margin:0;
    padding:0;
    font-family: Poppins;
}


body{
    width: 100vw;
    height: 100vh;
    background: url('./images/bg-intro-desktop.png');
    display: flex;
    align-items: center;
    background-color: var(--red);
    font-size: 16px;
}

.container{
    display: flex; 
    width: 80%;
    margin: 0 auto;
    flex-basis: auto;
}
input{
    width: 100;
    padding:10px;
    margin: 5px;
    border: .5px solid rgb(157, 151, 151);
    /* border-style: none; */
    border-radius: 5px;
    font-weight: 500;
}
input:focus-visible{
    border: none;
    outline: 1px solid #333;
}
input[type='submit']{
    background: var(--green);
    color:white;
    border: none;
    width: 100%;
}
.section{
    flex: 2px;
}
.section-form,.section{
    flex: 1;
    margin: 10px;
}
.section-form p{
    font-size: 12px;
    text-align: center;
    color: var(--grayish-blue);
}
.section-form span{
    color: var(--red);
    font-weight: 700;
}

.section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.section h1{
    margin-bottom: 20px;
}

.section-form a{
    color: #fff;
    text-decoration: none;
    background-color: var(--blue);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    flex: 1;
}
.section-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
.section-form .form-content{
   display: flex;
   flex-direction: column;
   flex: 1;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    border-radius: 5px;
}
form{
    margin-bottom: 10px;
    
}

@media screen and (max-width: 992px) {
    .container{
        flex-direction: column;
    }
}